.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-content{margin-left:auto;margin-right:auto;}
.w3-button:disabled{cursor:not-allowed;opacity:0.3}
.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.w3-grey,.w3-hover-grey:hover,.w3-gray,.w3-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.w3-button:hover{color:#000!important;background-color:#ccc!important}
.w3-red,.w3-hover-red:hover{color:#fff!important;background-color:#3649f4!important}
.w3-center{margin-top: 15px; text-align:center}
